<div class="flex h-screen justify-center">
  <form
    (ngSubmit)="submit()"
    class="p-4 rounded-lg border m-auto w-1/3"
    #myForm="ngForm"
  >
    <h1 class="text-3xl text-center">Register</h1>
    <div class="my-5">
      <label for="email" class="mb-2">Email</label>
      <input
        type="email"
        name="email"
        id="email"
        class="p-2 rounded border w-full"
        placeholder="email address"
        [(ngModel)]="form.email"
        #email="ngModel"
        required
      />
      <!-- with the #name you can create a template variable  -->
      <!-- dirty = not a email form, touched = moved out of the form without having typed -->
      <div
        *ngIf="email.invalid && (email.dirty || email.touched)"
        class="p-2 bg-red-300 text-red-800 rounded text-center"
      >
        Email field must be valid
      </div>
    </div>
    <div class="my-5">
      <label for="password" class="mb-2">Password</label>
      <input
        type="password"
        id="passwort"
        name="password"
        class="p-2 rounded border w-full"
        placeholder="password"
        [(ngModel)]="form.password"
        required
        #password="ngModel"
      />
    </div>
    <div
      *ngIf="password.invalid && password.touched"
      class="p-2 bg-red-300 text-red-800 rounded text-center"
    >
      Password field must be filled
    </div>
    <div class="my-5">
      <label for="confirm_password" class="mb-2">Confirm Password</label>
      <input
        type="password"
        id="confirm_password"
        name="confirm_password"
        class="p-2 rounded border w-full"
        placeholder="repeat your password"
        [(ngModel)]="form.confirm_password"
        #confirm_password="ngModel"
        required
      />
    </div>
    <div
      *ngIf="confirm_password.invalid && confirm_password.touched"
      class="p-2 bg-red-300 text-red-800 rounded text-center"
    >
      Password must be the same as above
    </div>
    <div class="my-5">
      <button
        type="submit"
        class="w-full p-2 rounded bg-purple-700 text-white hover:bg-purple-900"
        [disabled]="myForm.form.invalid"
      >
        <ng-container *ngIf="isLoading()">Loading...</ng-container>
        <ng-container *ngIf="!isLoading()">Submit</ng-container>
      </button>
    </div>
  </form>
</div>
